
    <!--<ul class="items">
      <li *ngFor="let crisis of crises | async"
        (click)="onSelect(crisis)"
        [class.selected]="isSelected(crisis)">
          <span class="badge">{{ crisis.id }}</span>
          {{ crisis.name }}
      </li>
    </ul>

    <router-outlet></router-outlet>-->
 
<div class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            
            <div class="clearfix"></div>
            <br />

           
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>APIs Group</h3>
                <!--<ul class="nav side-menu">
                  <li *ngFor="let crisis of crises | async"
                    (click)="onSelect(crisis)"
                    [class.selected]="isSelected(crisis)">
                      <span class="badge">{{ crisis.id }}</span>
                      {{ crisis.name }}
                  </li>
                </ul>-->
                <ul class="nav side-menu">
                  <li *ngFor="let group of apiGroups"><a (click)="toggleSideMenu(group)" name="{{group}}"><i class="fa  fa-book"></i>{{group}} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu"  id="SubMenu_+{{group}}">
                      <li *ngFor="let api of apis">
                        <a *ngIf="api.group==group"  (click)="onSelect(api)"  
                        [class.selected]="isSelected(api)">{{api.name}}
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              
            </div>
           
          </div>
        </div>
       
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
       
        <footer>
          <div class="pull-right">
            Apis Group
          </div>
          <div class="clearfix"></div>
        </footer>
        
      </div>
    </div>
  </div>
